@using Selectt.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<h2 class=" Result-header text-center">@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-12">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4 class="text-center">Use a local account to log in.</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group text-center">
                    @Html.LabelFor(m => m.Email, new { @class = "ballot-header col-md-2 control-label" })
                    <div class="form-size">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control text-center" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group text-center">
                    @Html.LabelFor(m => m.Password, new { @class = "ballot-header col-md-2 control-label" })
                    <div class="form-size">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control text-center" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group text-center">
                    <div class="">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group text-center">
                    <div>
                        <input type="submit" value="Log Into Select" class="universal-button" />
                    </div>
                </div>
                <p class="text-center">
                    <a href="@Url.Action( "Register")" class="universal-button"> Register As A New User</a>
                </p>
            }
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@section styles{
<style>
    .universal-button {
        color: #f4511e !important;
        background: #f7f7f7;
        padding: 4px;
        border: 2px solid #f4511e !important;
        border-radius: 6px;
        display: inline-block;
        transition: all 0.3s ease 0s;
        font-family: 'Anton', sans-serif;
        text-decoration: none;
        font-size: 20px;
    }

        .universal-button:hover {
            color: #494949 !important;
            border-radius: 50px;
            border-color: #494949 !important;
            transition: all 0.3s ease 0s;
            text-decoration: none;
        }
</style>
    }