@model Selectt.Models.PollEditModel

@{
    ViewBag.Title = "Edit";
}

<h2 class="Result-header text-center">Edit</h2>

<div>
    <a href="@Url.Action("Index", "Home")" class="universal-button"><i class="fa fa-list fa-sm" aria-hidden="true"></i>  Back To List</a>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    
<div class=" form-horizontal">

    <hr />

    <div class="container-poll container-fluid d-col-flex text-center p-4">

        <h4 class=" dt-header-custom text-center">Poll</h4>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PollId)


        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "ballot-header control-label col-md-2" })
            <div class="form-size">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control text-center" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr class="orange-line" />

        <div class="form-group">
            @Html.LabelFor(model => model.Question, htmlAttributes: new { @class = "ballot-header control-label col-md-2" })
            <div class="form-size">
                @Html.EditorFor(model => model.Question, new { htmlAttributes = new { @class = "form-control text-center" } })
                @Html.ValidationMessageFor(model => model.Question, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr class="orange-line" />

        <div class="form-group">
            @Html.LabelFor(model => model.EndDateTime, htmlAttributes: new { @class = "ballot-header control-label col-md-2" })
            <div class="form-size">
                @Html.EditorFor(model => model.EndDateTime, new { htmlAttributes = new { @class = "form-control text-center" } })
                @Html.ValidationMessageFor(model => model.EndDateTime, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr class="orange-line" />
        <div class="form-group">
            @Html.LabelFor(model => model.AreResultsPublic, htmlAttributes: new { @class = "ballot-header control-label col-md-2" })
            <div class="text-center">
                <div class="checkbox">
                    @Html.EditorFor(model => model.AreResultsPublic)
                    @Html.ValidationMessageFor(model => model.AreResultsPublic, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="text-center">
                <input type="submit" value="Save Your New Form" class="universal-button" />
            </div>
        </div>
    </div>
    <hr />



    <table class="table table-hover">
        <thead class="thead-custom-color">
            <tr>
                <th class="table-header-polls align-middle">Answer</th>
                <th class="text-right"><a href="@Url.Action( "Create", "Answers", new { pollId = Model.PollId }, null)" class="universal-button"><i class="fa fa-plus fa-sm" aria-hidden="true"></i>  Add An Answer</a></th>
            </tr>
            
        </thead>
        @foreach (var answer in Model.Answers)
        {
            <tr>
                <td class="table-content align-middle">@answer.PollAnswer</td>
                <td class="text-right">
                    <a href="@Url.Action("Edit", "Answers", new { id = answer.AnswerId }, null)" class="universal-button-standard-size align-middle text-center" data-toggle="tooltip" data-placement="top" title="Edit your Answer."><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></a>
                    <a href="@Url.Action("Delete", "Answers", new { id = answer.AnswerId }, null)" class="universal-button-standard-size align-middle text-center" data-toggle="tooltip" data-placement="top" title="Delete your Answer."><i class="fa fa-times fa-2x" aria-hidden="true"></i></a>
                </td>
            </tr>
        }
    </table>

    

    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th class="table-header-polls align-middle">Respondent Emails</th>
                <th class="text-right"><a href="@Url.Action( "Create", "Respondents", new { pollId = Model.PollId }, null)" class="universal-button"><i class="fa fa-plus fa-sm" aria-hidden="true"></i>  Add A Respondent</a></th>
            </tr>
        </thead>
        @foreach (var respondent in Model.Respondents)
        {
            <tr>
                <td class="table-content align-middle">@respondent.Email</td>
                <td class="text-right">
                    <a href="@Url.Action("Edit", "Respondents", new { id = respondent.RespondentId }, null)" class="universal-button-standard-size align-middle text-center" data-toggle="tooltip" data-placement="top" title="Edit your Respondent E-mail"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></a>
                    <a href="@Url.Action("Delete", "Respondents", new { id = respondent.RespondentId }, null)" class="universal-button-standard-size align-middle text-center" data-toggle="tooltip" data-placement="top" title="Delete your Respondent's E-mail"><i class="fa fa-times fa-2x" aria-hidden="true"></i></a>
                </td>
            </tr>
        }
    </table>
</div>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

@section styles{
    
    <style>
        

        .universal-button-standard-size {
            color: #f4511e !important;
            background: #f7f7f7;
            padding: 4px;
            border: 2px solid #f4511e !important;
            border-radius: 6px;
            display: inline-block;
            transition: all 0.3s ease 0s;
            font-family: 'Anton', sans-serif;
            text-decoration: none;
            font-size: 20px;
            width: 50px;
            height: 50px;
        }

            .universal-button-standard-size:hover {
                color: #494949 !important;
                border-radius: 50px;
                border-color: #494949 !important;
                transition: all 0.3s ease 0s;
                text-decoration: none;
            }



        .universal-button {
            color: #f4511e !important;
            background: #f7f7f7;
            padding: 4px;
            border: 2px solid #f4511e !important;
            border-radius: 6px;
            display: inline-block;
            transition: all 0.3s ease 0s;
            font-family: 'Anton', sans-serif;
            text-decoration: none;
            font-size: 20px;
        }

            .universal-button:hover {
                color: #494949 !important;
                border-radius: 50px;
                border-color: #494949 !important;
                transition: all 0.3s ease 0s;
                text-decoration: none;
            }

        
    </style>
    }