@model Selectt.Models.AnswerCreateModel

@{
    ViewBag.Title = "Create";
}
<h2 class="Result-header text-center">Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class=" form-group text-center">
        @Html.LabelFor(model => model.Answer, htmlAttributes: new { @class = "dt-header1 control-label col-md-2" })
        <div class="form-size">
            @Html.EditorFor(model => model.Answer, new { htmlAttributes = new { @class = "control-form text-center" } })
            @Html.ValidationMessageFor(model => model.Answer, "", new { @class = "text-danger" })
        </div>
    </div>

        <div class="form-group text-center">
            <div class="">
                <input type="submit" value="Create" class="universal-button" />
            </div>
        </div>
    </div>
}

<div>
    <a href="@Url.Action("Edit", "Polls", new { id = Model.PollId }, null)" class="universal-button"><i class="fa fa-envelope-open-o fa-sm" aria-hidden="true"></i> Back To Poll Editor</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

