@model Selectt.Entities.Answer

@{
    ViewBag.Title = "Delete";
}





<h2 class="Result-header text-center">Delete</h2>

<h3 class="delete-header text-center">Are you sure you want to delete this Answer from the list?</h3>
<div>

    <hr />
    <h4 class="dt-header1 text-center">Answer</h4>
    <p>
        @*<dl class="dl-horizontal text-center">


                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.HasVoted)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.HasVoted)
                </dd>

            </dl>*@

        <table class="table  table-bordered table-hover text-center align-middle">
            <thead class="thead-light">
                <tr>
                    <th class="table-header-polls" width="50%">@Html.DisplayNameFor(model => model.PollAnswer)</th>

                </tr>
            </thead>
            <tr>
                <td class="table-contet" width="50%">@Html.DisplayFor(model => model.PollAnswer)</td>

            </tr>
        </table>

    </p>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color text-center">
            <input type="submit" value="Delete" class="warning-button" />
            <a href="@Url.Action("Edit", "Polls", new { id = Model.PollId })" class="universal-button"><i class="fa fa-envelope-open-o fa-sm" aria-hidden="true"></i> Back To Poll Editor</a>
        </div>
    }


</div>
